@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  margin-top: 16px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  flex-shrink: 0; 
  justify-content: space-between;
  padding: 1px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  flex-shrink: 0; 
  padding: 5px;
  height: 52px;
  background: #eeeeee;
  justify-content: space-between;
  align-items: center;
} 


.left-links, .right-links {
  display: flex;
  padding: 5px;
  gap: 16px;  
}

ul
{
    list-style-type: none;
}
a {
  color: #767575;
  text-decoration: none;
}


