/* Add CSS Styling */

.test {
    background-color: hsl(351, 100%, 86%);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#exercise {
    color: hsl(240, 100%, 50%);
    font-size: 36px;
}
.special {
    font-size: 24px;
}

#unique {
    background-color: hsl(120, 73%, 75%);
    font-size: 24px;
    font-weight: bold;
}